data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" minOccurs="0"/>
				<xs:element name="content" type="xs:string"/>
				<xs:element name="creation_dt" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="parent" type="xs:int" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>